.search,
.search-result {
    width: 415px;
}
.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1.5px solid transparent;

    input {
        height: 100%;
        padding: 12px 0;
        padding-right: 45px;
        color: rgba(22, 24, 35, 1);
        font-size: 1.6rem;
        font-weight: 400;
        background-color: transparent;
        caret-color: rgba(254, 44, 85, 1);
        flex: 1;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
        position: absolute;
        top: 9px;
        right: 52px;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    right: calc(var(--search-button-width) + 16px);
    //bù lại top 50% để vào giữa
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
}

.loading {
    // spinner tên keyframes/ quay trong 0.8s/ quay đều/ quay vô hạn
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: #a7a7ab;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
}
